/*general elements*/
body{
    background-color: #ffffff;
    font-family: 'Comfortaa', cursive;
    color: #004CAF;
}

a{
    text-decoration: none;
}

.secondaryLinks{
    margin-left: 20px;
}

.definition{
    font-family: 'Caveat', cursive;
    color: #042C5F;
}

.logo{
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    margin-bottom: 0px;
    color: #3068BD;
    /* color: #5E98F0; */
}

.welcome {
    margin-bottom: 10px;
}

.welcomeHeader{
    font-family: 'Caveat', cursive;
    color: #004CAF;
    font-size: 2em;
    text-align: center;
}

.welcomeContent{
    text-align: center;
}

.tripFormContent {
    margin: 15px;
}

.destinationFormElem {
    margin-bottom: 15px;
}

/*buttons*/
.addTrip{
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    border: none;
    background-color: #3068BD;
    font-family: 'Caveat', cursive;
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
}

.tripButton{
    border: none;
    background-color: #3068BD;
    font-family: 'Caveat', cursive;
    color: #ffffff;
    font-size: 1.25em;
    margin-bottom: 5px;
}

/*trip cards*/
.tripCard{
    display: flex;
    flex-direction: row;
    position: relative;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    /* transition: 0.3s; */
    background-color: #64E8FF;
    margin-bottom: 10px;
}

.cardImg{
    width: 25%;
}

.cardContent{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 7px;
}

/*trip content styles*/
.tripContent{
    margin: 0px 15px 15px;
}

.tripButtonsContainer::after{
    content: '';
    display: inline-block;
    width: 99.5%;
}

.destDates{
    margin-bottom: 25px;
}

.destinationForecast {
    max-width: 500px;
}

.destinationForecastContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 15px 0px;
    margin-bottom: 25px;
}

.forecastInfo {
    background-color: #042C5F;
    color: #ffffff;
    min-width: 40px;
    width: auto;
    height: 100px;
    text-align: center;
    padding-top: 15px;
}

.temp {
    margin-top: 10px;
}

.destinationDetails{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1rem;
}

.detailElem {
    display: flex;
    flex-direction: column;
    position: relative;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s; */
    background-color: #042C5F;
    color: #ffffff;
    text-align: center;
    padding: 15px;
}