/*Variables*/
/*colors*/
$mainColor: #004CAF;
$baseColor: #ffffff;
$defColor: #042C5F;
$secondaryColor: #3068BD;
$warningColor: #D81B60;
$tripColor: #64E8FF;
/*fonts*/
$bodyFont: 'Comfortaa', cursive;
$defFont: 'Caveat', cursive;
$logoFont: 'Dancing Script', cursive;

/*general elements*/
body{
    background-color: $baseColor;
    font-family: $bodyFont;
    color: $mainColor;
}

a{
    text-decoration: none;
}

.secondaryLinks{
    margin-left: 20px;
}

.definition{
    font-family: $defFont;
    color: $defColor;
}

.logo{
    font-family: $logoFont;
    font-size: 4em;
    margin-bottom: 0px;
    color: $secondaryColor;
}

.welcome {
    margin-bottom: 10px;
}

.welcomeHeader{
    font-family: $defFont;
    color: $mainColor;
    font-size: 2em;
    text-align: center;
}

.welcomeContent{
    text-align: center;
}

.tripFormContent {
    display: none;
    margin: 15px;
}

.destinationFormElem {
    margin-bottom: 15px;
}

.about {
    display: none;
}

/*buttons*/
.addTrip{
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    border: none;
    background-color: $secondaryColor;
    font-family: $defFont;
    color: $baseColor;
    font-size: 1.5em;
    text-align: center;
}

.tripButton{
    border: none;
    background-color: $secondaryColor;
    font-family: $defFont;
    color: $baseColor;
    font-size: 1.25em;
    margin-bottom: 5px;
}

/*trip cards*/
.tripCard{
    display: flex;
    flex-direction: row;
    position: relative;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    /* transition: 0.3s; */
    background-color: $tripColor;
    margin-bottom: 10px;
}

.cardImg{
    width: 25%;
}

.cardContent{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 7px;
}

/*trip content styles*/
.tripContent{
    display: none;
    margin: 0px 15px 15px;
}

.tripButtonsContainer::after{
    content: '';
    display: inline-block;
    width: 99.5%;
}

.destinationImage {
    display: flex;
    flex-direction: column;
}

.destImg {
    width: 90%;
}

.destDates{
    margin-bottom: 25px;
}

.destinationForecast {
    max-width: 500px;
}

.destinationForecastContainer {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-evenly;
    // padding: 0px 15px 0px;
    // margin-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1rem;
}

.forecastInfo {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $defColor;
    color: $baseColor;
    min-width: 40px;
    max-width: 100px;
    height: 180px;
    text-align: center;
}

.temp {
    margin-top: 10px;
}

.flagImg {
    max-width: 100px;
}

.destinationDetails{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1rem;
}

.detailElem {
    display: flex;
    flex-direction: column;
    position: relative;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s; */
    background-color: $defColor;
    color: $baseColor;
    text-align: center;
}

.warningElem {
    color: $warningColor;
    font-weight: 900;
    display: none;
}

.countryInfo {
    margin-top: 5px;
}