/*Default mobile view*/
.container{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
        "hd"
        "sd"
        "main"
        "ft";
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    grid-area: hd;
}

.sidebar{
    grid-area: sd;
}

.main{
    grid-area: main;
    background-color: #64E8FF;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: ft;
}

/*Medium Size Screen*/
@media(min-width:600px) and (max-width:900px){
    .container{
        display:grid;
        grid-template-columns: 300px 300px 300px;
        grid-auto-rows: minmax(200px, auto);
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "sd main main main main main main main"
        "ft ft ft ft ft ft ft ft";
    }
}

/*Large Screen Size*/
@media(min-width: 901px){
    .container{
        display:grid;
        grid-template-columns: 300px 300px 300px;
        grid-auto-rows: minmax(200px, auto);
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "sd main main main main main main main"
        "ft ft ft ft ft ft ft ft";
    }
}